BraveSoftware
Code
pulse/cookie
tmp
var/rua/checked_tars
var/fonts
var/recently-used.xbel
var/zsh_history
zsh/.zcompdump
rua/.system
var/xorg/Xorg.0.log.old
GIMP
var/vim
var/zathura/input-history
var/zathura/history
var/.org.chromium.Chromium.BtRnN8
pipewire
spotify
obsidian/Cache
sylpheed-2.0/imapcache
youtube-dl/cookies.txt
@xmonad/xmonad-x86_64-linux
@xmonad/xmonad.hi
@xmonad/xmonad.errors
configstore/update-notifier-npm.json
.gitignore
fonts/
mpv/watch_later
pychess/
obsidian/
Nibbler/
Signal Beta/
pulse/