HOME/zsh/.zcompdump
HOME/nnn/.history
HOME/Code/
HOME/google-chrome/
HOME/spotify/
HOME/BraveSoftware/
HOME/var/go
HOME/var/tmp
HOME/pulse/
HOME/var/npm
HOME/nnn/plugins-*.tar.gz
HOME/var/recently-used.xbel
HOME/GIMP
openldap
telemetrics
group
group-
gshadow
gshadow-
hostname
hosts
locale.conf
localtime
machine-id
mtab
os-release
pam.d
passwd
passwd-
printcap
shadow
shadow-
ssl
udev
X11/xorg.conf.d/00-keyboard.conf
kernel/cmdline.d/local.conf
systemd/system/multi-user.target.wants/iwd.service
systemd/system/multi-user.target.wants/pacdiscovery.service
bluetooth.target.wants
dbus-org.bluez.service
dbus-org.freedesktop.timer
swupd-update.service
swupd-update.timer
dbus-org.freedesktop.timesync1.service
.pwd.lock
resolv.conf
systemd/system/dbus-org.freedesktop.network1.service
systemd/system/multi-user.target.wants/
systemd/system/network-online.target.wants/
systemd/system/sockets.target.wants/
vconsole.conf
multipath
BraveSoftware
Code
pulse/cookie
tmp
var/rua/checked_tars
var/fonts
var/recently-used.xbel
var/zsh_history
zsh/.zcompdump
rua/.system
var/xorg/Xorg.0.log.old
