HOME/zsh/.zcompdump
HOME/nnn/.history
HOME/Code/
HOME/google-chrome/
HOME/spotify/
HOME/BraveSoftware/
HOME/var/go
HOME/var/tmp
HOME/pulse/
HOME/var/npm
HOME/nnn/plugins-*.tar.gz
HOME/var/recently-used.xbel
HOME/GIMP
